.top-bg-shape {
    animation: topBgShape 1s ease 0s 1 normal forwards;
}

@keyframes topBgShape {
    0% {
        transform: translateX(-100%);
        top: 2vh;
    }
    100% {
        transform: translateX(0%);
        top: -5vh;
    }
}