.animated-image img {
    box-shadow: 5px 5px 25px grey;
}

.bio {
    animation: opacity 0.2s ease-in 0s 1 normal forwards;
}

.bio div:nth-child(1) {
    animation: bioText 0.3s ease-in 0s 1 normal forwards;
}

.bio div:nth-child(2) {
    animation: opacity 0.5s ease-in 0.3s 1 normal forwards;
}

@keyframes bioText {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.position1-profile {
    height: 720px;
    width: 550px;
}
.position1-bio {
    height: 450px;
    width: 300px;
}

.position2-profile {
    height: 430px;
    width: 350px;
}
.position2-bio {
    height: calc(100% - 30px);
    width: calc(100% - 30px);
}

.position3-profile {
    height: 600px;
    width: 500px;
}
.position3-bio {
    height: 350px;
    width: 300px;
}

@media screen and (max-width: 1024px) {
    .position1-profile {
        height: 480px;
        width: 360px;
    }
    
    .position2-profile {
        height: 300px;
        width: 260px;
    }
    
    .position3-profile {
        height: 400px;
        width: 330px;
    }
}

@media screen and (max-width: 600px) {
    .position1-profile {
        height: 350px;
        width: 280px;
    }
    
    .position2-profile {
        height: 200px;
        width: 180px;
    }
    
    .position3-profile {
        height: 300px;
        width: 250px;
    }
}

.carousel::-webkit-scrollbar {
    display: none;
}