.Home-container {
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: rgb(255, 204, 0);
    font-size: 14px;
    font-weight: 700;
}

.random-stories {
    padding: 0 50px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
}

.controls div:nth-child(2) {
    margin: 20px 0;
}

.controls-position1 {
    display: none;
}

.controls-position3 div:nth-child(2) {
    margin: 0 10px;
}

.controls-position3 {
    display: none;
    margin-left: -5px;
}

.story-text {
    height: 500px;
}

.story-text .theme {
    margin-top: 10px;
}

.story-text .info {
    font-size: 64px;
}

.story-text div:hover {
    cursor: pointer;
    text-decoration: underline;
}

.story-images {
    display: flex;
    align-items: center;
}

.animated-image img {
    width: 500px;
    height: auto;
    box-shadow: 5px 5px 25px grey;
    cursor: grab;
}

.timer-scroll {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    margin-top: 20px;
}

.count-down {
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.progress-bar {
    margin: 0 10px;
    position: relative;
}

.empty {
    height: 2px;
    width: 45px;
    background-color: #9c9797;
    opacity: .4;
}

.scroll-down {
    display: flex;
    align-items: center;
}

.scroll-down div {
    height: 60px;
    width: 60px;
    margin-left: 10px;
    border: 1px solid #bdafb1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-down div:hover {
    background-color: black;
    cursor: pointer;
}

@media screen and (min-width: 1500px) {
    .Home-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .random-stories, .timer-scroll {
        width:  1400px;
    }
}

@media screen and (max-width: 1300px) {
    .controls-position2 {
        display: none;
    }

    .controls-position3 {
        display: flex;
        padding: 0 60px;
        margin-top: 60px;
    }

    .animated-image img {
        width: 400px;
    }

    .story-text {
        margin-top: 30px;
    }

    .story-text .info {
        font-size: 55px;
    }

    .count-down, .timer-scroll {
        margin: 0;
    }
}

@media screen and (max-width: 1100px) {
    .random-stories, .controls-position1 {
        display: block;
    }

    .controls-position3 {
        display: none;
    }
    
    .animated-image {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    
    .story-text {
        height: fit-content;
        width: 100%;
        margin-top: 20px;
    }
    
    .timer-scroll {
        margin-top: 100px;
    }
}

@media screen and (max-width: 1000px) {
    .random-stories, .timer-scroll {
        padding: 0 30px;
    }
}

@media screen and (max-width: 600px) {
    .controls-position1 {
        display: none;
    }

    .story-text .info {
        font-size: 42px;
    }

    .animated-image img {
        width: 90%;
    }
    
    .controls-position3 {
        display: flex;
        margin-top: 80px;
    }
    
    .timer-scroll {
        margin-top: 0;
    }

    .scroll-down div {
        height: 35px;
        width: 35px;
    }

    .random-stories, .animated-image, .controls-position3, .timer-scroll {
        padding: 0 15px;
    }
}

.bio {
    animation: opacity 0.2s ease-in 0s 1 normal forwards;
}

.bio div:nth-child(1) {
    animation: bioText 0.3s ease-in 0s 1 normal forwards;
}

.bio div:nth-child(2) {
    animation: opacity 0.5s ease-in 0.3s 1 normal forwards;
}

@keyframes bioText {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.position1-profile {
    height: 720px;
    width: 550px;
}
.position1-bio {
    height: 450px;
    width: 300px;
}

.position2-profile {
    height: 430px;
    width: 350px;
}
.position2-bio {
    height: calc(100% - 30px);
    width: calc(100% - 30px);
}

.position3-profile {
    height: 600px;
    width: 500px;
}
.position3-bio {
    height: 350px;
    width: 300px;
}

@media screen and (max-width: 1024px) {
    .position1-profile {
        height: 480px;
        width: 360px;
    }
    
    .position2-profile {
        height: 300px;
        width: 260px;
    }
    
    .position3-profile {
        height: 400px;
        width: 330px;
    }
}

@media screen and (max-width: 600px) {
    .position1-profile {
        height: 350px;
        width: 280px;
    }
    
    .position2-profile {
        height: 200px;
        width: 180px;
    }
    
    .position3-profile {
        height: 300px;
        width: 250px;
    }
}