.open-category {
    animation: openCategory 0.8s ease 0s 1 normal forwards;
}
.close-category {
    animation: closeCategory 0.8s ease 0s 1 normal forwards;
}

@keyframes openCategory {
    from {
        top: -100%;
        display: block;
    }
    to {
        top: 0;
        display: block;
    }
}
@keyframes closeCategory {
    from {
        top: 0;
    }
    to {
        top: -100%;
        display: none;
    }
}
/* Category animations on smaller screens */
@keyframes openCategorySM {
    from {
        bottom: -100%;
        display: block;
    }
    to {
        bottom: 0;
        display: block;
    }
}
@keyframes closeCategorySM {
    from {
        bottom: 0;
    }
    to {
        bottom: -100%;
        display: none;
    }
}

.inbox-h {
    height: calc(100vh + 80px);
}
@media screen and (max-width: 600px) {
    .inbox-h {
        height: fit-content;
    }
}