@keyframes openCategory {
    from {
        transform: translateY(-100%);
        display: block;
    }
    to {
        transform: translateY(0);
        display: block;
    }
}
@keyframes closeCategory {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
        display: none;
    }
}

.intro-h {
    height: calc(100vh + 80px);
}