body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

.nav-bar-container {
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: 999;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  margin-top: 30px;
}

.nav-bar img {
  height: 35px;
  cursor: pointer;
}

.desktop-nav-menu {
  display: flex;
  color: #171313;
  font-size: 18px;
  font-weight: 700;
}

.nl-link {
  margin-left: 15px;
  position: relative;
}

.nl-link:hover {
  opacity: 0.6;
}

.nl-link-title {
  cursor: pointer;
}

.nl-dot {
  height: 5px;
  width: 5px;
  background-color: #171313;
  border-radius: 50%;
  transform: scale(0);
  transition: all 0.2s linear;
  position: absolute;
  left: 50%;
  top: 35px;
}

.nl-link-active .nl-dot {
  transform: scale(1);
}

.nav-icon {
  display: none;
}

.nav-icon .fa-xmark {
  display: none;
}

.mobile-nav-menu {
  display: none;
}

.mobile-menu-background {
  display: none;
}

/* Responsive effect for Nav Bar */

@media screen and (min-width: 1500px) {
  .nav-bar {
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }
} 

@media screen and (max-width: 1000px) {
  .nav-bar {
    padding: 0 30px;
  }

  .desktop-nav-menu {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .desktop-nav-menu {
    display: none;
  }

  .mobile-menu-background {
    display: none;
    height: 100%;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
  }
  @keyframes menuBackgroundIntro {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0%);
    }
  }
  @keyframes menuBackgroundOutro {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(100%);
      display: none;
    }
  }

  .mobile-nav-menu {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  @keyframes mobileMenuIntro {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes mobileMenuOutro {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      display: none;
    }
  }

  .nav-icon {
    display: block;
    font-size: 20px;
  }

  .nav-icon .fa-bars {
    cursor: pointer;
  }

  .nav-icon .fa-xmark {
    display: none;
  }

  .nav-bar {
    padding: 0 20px;
    margin-top: 20px;
  }

  .nav-bar img {
    cursor: default;
  }

  .mobile-nav-menu .links {
    margin-top: 140px;
  }

  .nl-link {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .mobile-nav-menu .nl-dot {
    display: none;
    height: 12px;
    width: 12px;
    margin-right: 10px;
    transform: scale(1);
    position: static;
  }

  .nl-link-title {
    font-size: 55px;
    font-weight: 700;
  }

  .menu-extra-container {
    width: 100%;
    position: absolute;
    bottom: 40px;
    z-index: 999;
  }
  
  .menu-extra {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
  }

  .socials {
    font-size: 24px;
  }

  .place-time {
    display: flex;
    font-size: 17px;
  }

  .place {
    font-weight: 600;
    margin-right: 15px;
  }
}