@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

.nl-link {
  margin-left: 15px;
  position: relative;
}

.nl-link:hover {
  opacity: 0.6;
}

.nl-link-title {
  cursor: pointer;
}

.nl-dot {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  transform: scale(0);
  transition: all 0.2s linear;
  position: absolute;
  left: 50%;
  top: 35px;
}

.nl-link-active .nl-dot {
  transform: scale(1);
}

.nav-icon {
  display: none;
}

.nav-icon .fa-xmark {
  display: none;
}

.mobile-nav-menu {
  display: none;
}

.mobile-menu-background {
  display: none;
}

/* Responsive effect for Nav Bar */

@media screen and (max-width: 600px) {
  .nav-icon {
    display: block;
    font-size: 20px;
  }

  .nav-icon .fa-xmark {
    display: none;
  }

  .nl-link {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .mobile-nav-menu .nl-dot {
    display: none;
    height: 12px;
    width: 12px;
    margin-right: 10px;
    transform: scale(1);
    position: static;
  }

  .nl-link-title {
    font-size: 55px;
    font-weight: 700;
  }
}

/* Animations for Mobile NavBar */

@keyframes menuBackgroundIntro {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes menuBackgroundOutro {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
    display: none;
  }
}

@keyframes mobileMenuIntro {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes mobileMenuOutro {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}